<html>
<head>
  <title>tmp chat</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://unpkg.com/nostr-tools/lib/nostr.bundle.js"></script>

  <style>
    .message-container {
      max-height: 300px; /* Set a maximum height for the messages */
      overflow-y: auto; /* Enable vertical scrolling */
    }
    [v-cloak] {
      display: none !important;
    }
  </style>
</head>
<body>
  <section id="app" v-cloak class="section">
    <div class="container">
      <div class="columns is-centered">
        <h1 class="title is-4">This is a secure chat.</h1>
        <h2 class="subtitle is-5">Don`t verify, trust.</h2>

        <div
          v-if="!isInHall"
          class="tag is-info is-medium" style="position: fixed; top: 10px; right: 10px;"
        >
          room: {{ room }}
        </div>

        <div
          v-if="copied"
          class="tag is-success is-medium" style="position: fixed; bottom: 10px; right: 10px;"
        >
          copied!
        </div>

        <div v-if="isInHall">
          <div v-if="isJoining" class="field">
            <label class="label">Room number</label>
            <div class="control">
              <input v-model="room" class="input" type="number" placeholder="Type your room number">
            </div>
          </div>
          <!-- Send Button -->
          <div class="field">
            <div class="control">
              <button @click.prevent="joinRoom" class="button is-primary">join room</button>
            </div>
          </div>
          <div v-if="!isJoining" class="field">
            <div class="control">
              <button @click.prevent="createRoom" class="button is-primary">create room</button>
            </div>
          </div>
        </div>
        <div v-else class="column is-6">

          <!-- Chat Messages -->
          <div class="box message-container" id="msgs">
            <div v-for="event in messages" class="message">
              <div class="message-header" :style="getColor(event.pubkey)">
                <span class="tag">@{{ event.user }}</span>
                <span v-if="checksig(event)" class="tag is-success"><i class="fa-solid fa-circle-check"></i> verified</span>
                <span v-else class="tag is-danger"><i class="fa-solid fa-circle-xmark"></i> not verified</span>
              </div>
              <div class="message-body">
                {{ shortMessage(event.content) }} <span class="icon" @click.prevent="copyToClipboard(event.content)">
                  <i class="fa-regular fa-copy"></i>
                </span>

              </div>
            </div>
          </div>
          <!-- Message Input -->
          <div class="field">
            <label class="label">Username</label>
            <div class="control">
              <input v-model="currentUsername" class="input" type="text" placeholder="Your username">
            </div>
          </div>

          <div class="field">
            <label class="label">Message</label>
            <div class="control">
              <input v-model="currentMessage" class="input" type="text" placeholder="Type your message">
            </div>
          </div>
          <!-- Send Button -->
          <div class="field">
            <div class="control">
              <button @click.prevent="onSubmit" class="button is-primary">Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script type="module">
    import { initializeApp } from 'https://www.gstatic.com/firebasejs/10.4.0/firebase-app.js'

    // If you enabled Ana
    // Add Firebase products that you want to use
    import { getAuth } from 'https://www.gstatic.com/firebasejs/10.4.0/firebase-auth.js'
    import { getFirestore, collection, addDoc, query, onSnapshot, where, orderBy } from 'https://www.gstatic.com/firebasejs/10.4.0/firebase-firestore.js'
    const {
      generatePrivateKey,
      getPublicKey,
      getEventHash,
      getSignature,
      validateEvent,
      verifySignature
    } = window.NostrTools;

    const firebaseConfig = {
      apiKey: "AIzaSyDiUQg6YkD5nqEoFmYSge-lggPEjI39lB0",
      authDomain: "tmpchat-757b3.firebaseapp.com",
      projectId: "tmpchat-757b3",
      storageBucket: "tmpchat-757b3.appspot.com",
      messagingSenderId: "85801633211",
      appId: "1:85801633211:web:63cafc28c573e5d753f09e"
    };

    // Initialize Firebase
    const firebase = initializeApp(firebaseConfig);

    const db = getFirestore(firebase);

    const app = Vue.createApp({
      mounted() {
        const username = window.localStorage.getItem('username');
        if (username) {
          this.currentUsername = username;
        }
        const privateKey = window.localStorage.getItem('privateKey');
        if (privateKey) {
          this.privateKey = privateKey;
        } else {
          this.privateKey = generatePrivateKey();
          window.localStorage.setItem('privateKey', this.privateKey);
        }
      },
      data() {
        return {
          isInHall: true,
          isJoining: false,
          copied: false,
          room: '',
          currentMessage: '',
          currentUsername: '',
          messages: [],
          privateKey: null,
        };
      },
      methods: {
        async onSubmit() {
          window.localStorage.setItem('username', this.currentUsername);
          const msg = {
            user: this.currentUsername,
            message: this.currentMessage,
            room: this.room,
            timestamp: Math.round(new Date().getTime() / 1000),
          }
          let event = {
            pubkey: getPublicKey(this.privateKey),
            kind: 6969,
            created_at: Math.round(Date.now() / 1000),
            content: this.currentMessage,
            tags: [],
            room: this.room,
            user: this.currentUsername,
          }

          event.id = getEventHash(event)
          event.sig = getSignature(event, this.privateKey)

          if (validateEvent(event) && verifySignature(event)) {
            // this.messages.push(event);
            this.currentMessage = "";
            const docRef = await addDoc(collection(db, "messages"), event);
          } else {
            alert('deu merda ai. faz o L')
          }
        },
        joinRoom() {
          if (!this.isJoining) {
            this.isJoining = true;
            return
          }
          const q = query(
            collection(db, "messages"),
            where("room", "==", this.room),
            orderBy("created_at", "asc")
          );
          const unsubscribe = onSnapshot(q, (querySnapshot) => {
            const messages = [];
            querySnapshot.forEach((doc) => {
              messages.push(doc.data());
              const message = doc.data().message;
            });
            this.messages = messages
            setTimeout(() => {
              const msgs = document.getElementById('msgs');
              msgs.scrollTop = msgs.scrollHeight;
            }, 100);
          });
          this.isInHall = false;
        },
        createRoom() {
          const room = Math.floor(1000 + Math.random() * 9000);
          this.room = room;
          this.isJoining = true;
          this.joinRoom();
        },
        shortMessage (msg) {
          if (msg.length < 22) {
            return msg;
          }
          return msg.substring(0, 11) + '...' + msg.substring(msg.length - 11, msg.length);
        },
        copyToClipboard (msg) {
          // check if have clipboard
          if (!navigator.clipboard) {
            alert('Your browser does not support clipboard. FAZ O L');
            return;
          }

          navigator.clipboard.writeText(msg);
          this.copied = true;
          setTimeout(() => {
            this.copied = false;
          }, 1000);
        },
        getColor (pubkey) {
          const color = pubkey.substring(0, 6);
          return `background-color: #${color}`;
        },
        checksig (event) {
          return verifySignature(event);
        }
      }
    });
    app.mount("#app");
  </script>

</body>
</html>
